<!-- Header -->
<div id="colleft">
    <div class="top">
        <!-- Logo -->
        <div id="logo">
            <span class="image"><img src="images/logo.png" alt="" height="60px" /></span>
            <h1 id="title">Sebastian Christoph</h1>
            <p>geilster Typ von Welt</p>
        </div>

        <!-- Nav -->
        <nav id="nav">
            <ul>
                <li><a href="#">Über mich</a></li>
                <li><a href="#">Irgendwas1</a></li>
                <li><a href="#">Irgendwas2</a></li>
                <li><a href="#">Kontakt</a></li>
                <li><a href="#">Impressum</a></li>
            </ul>
        </nav>

    </div>

    <div class="bottom">

        <!-- Social Icons -->
        <div class="row icons">
            <a href="#" class="col-sm-2 icon email">&nbsp;</a>
            <a href="#" class="col-sm-2 icon xing">&nbsp;</a>
            <a href="#" class="col-sm-2 icon github">&nbsp;</a>
            <a href="#" class="col-sm-2 icon facebook">&nbsp;</a>
            <a href="#" class="col-sm-2 icon twitter">&nbsp;</a>
            <a href="#" class="col-sm-2 icon instagram">&nbsp;</a>
        </div>

        <!-- Footer -->
        <div id="footer" class="row">
            <!-- Copyright -->
            <div class="col-sm-12">&copy; Sebastian Christoph. All rights reserved.</div>
        </div>
    </div>

</div>
<!-- END Header -->