

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Sebastian Christoph - {% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap CSS -->
        <!-- Google Font -->
        <!--<link href="{{ asset('css/base.css') }}" rel="stylesheet">-->
    {% endblock %}
</head>
<body>
    {% block javascript %}
        <!-- Optional JavaScript -->
        <!-- Bootstrap JS -->

        <!-- Sebastian Christoph JavaScript -->
        <!--<script src="{{ asset('js/base.js') }}"></script>-->
    {% endblock %}
{{ include('_menu.html.twig') }}
<div class="container">
    {% block content %}{% endblock %}
</div>
<!-- Footer -->
<footer class="page-footer">
    Footer
</footer>
<!-- Footer -->
</body>
</html>